body{
    background-color: rgb(244, 213, 135);
    color: goldenrod;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;

}
.foto-perfil{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid goldenrod;
}